@model ApiPinger.Controllers.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<style>


    .navbar { background-color: #0078d7 }
    .navbar-brand { color: #fff}
    th { text-align:center; }
    .monitor-cell {  width:15%; text-align:center; }
    .title { width:25%;}
    h3 { margin:0px; padding:0px; margin-top:5px;}
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #a0a0a0; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        margin:0% 50%;
        margin-top: 30px;
        margin-bottom:30px;
    }

    @@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    </style>
    <nav class="navbar  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">TFS Monitor</a>
        </div>
      
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
<div class="starter-template">
        <h1>@Model.PageTitle</h1>
        <p class="lead">&nbsp;</p>
      </div>
        <div class="row">
            <div class="col">

            <table  id="main" class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2">Name</th>
                    <th rowspan="2">Build</th>
                    <th colspan="2">Release</th>
                    <th colspan="2">Ping</th>
                </tr>
                <tr>
                    <th>Dev</th>
                    <th>Test</th>
                    <th>Int</th>
                    <th>QA</th>
                </tr>
            </thead>
            <tbody id="monitor-body">
                <tr>
                    <td colspan="7"></td>
                </tr>
            </tbody>
            </table>
            <div>
                <div class="loader"></div>
            </div>
            </div>
        </div>
    </div>

    </div>

  <script>
       function load() {
           var url = "@(Model.HostUrl)/home/sources";
            $.get(url)
                .done(function(data) {

                    var rows = "";
                    for(i=0; i < data.items.length; i++) {

                        var row = "<tr><td><h3>" + data.items[i].name + "</h3></td>";
                        var item = data.items[i];
                        var build = item.build[0];

                        row += build.result === "succeeded" ? validtd(build.number) : invalidtd(build.number);  
                        row += "<td></td>";
                        row += "<td></td>";
                        row += item.integrationUp ? tick() : cross();
                        row += item.qaUp ? tick() : cross();
                        rows += row;
                    }
                    $("#monitor-body").fadeOut();
                    $("#monitor-body").empty();
                    $("#monitor-body").append(rows);
                    $(".loader").hide();
                    $("#monitor-body").fadeIn();
                    console.log("Monitor load complete!");
                });
        } 

       $(document).ready(function() {
           $("#monitor-body").hide();
           load();  
           setInterval(load, 10000);
        }); 

        function validtd(label) {
            var td1 = "<td class=\"monitor-cell\"><h4><span class=\"label label-success label-large\">";
            var td2 = " &nbsp; <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span> </span> </h4> </td>"

            return td1 + label + td2;
        }

        function invalidtd(label) {
            var td1 = "<td class=\"monitor-cell\"><h4><span class=\"label label-danger\"><span id=\"1\">";
            var td2 = " &nbsp; <span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span> </span> </h4> </td>"

            return td1 + label + td2;
        }

        function tick() {
            return "<td class=\"monitor-cell\"> <h4> <span class=\"label label-success label-large\"> &nbsp; <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span> &nbsp; </span> </h4> </td>";
        }

        function cross() {
            return "<td class=\"monitor-cell\"> <h4> <span class=\"label label-danger label-large\"> &nbsp; <span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span> &nbsp; </span> </h4> </td>";
        }
   </script>