@model ApiPinger.Controllers.IndexModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<style>
    .navbar { background-color: #0078d7 }
    .navbar-brand { color: #fff}
    th { text-align:center; }
    .monitor-cell {  width:15%; text-align:center; }
    .title { width:25%;}
    h3 { margin:0px; padding:0px; margin-top:5px;}
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #a0a0a0; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        margin:0% 50%;
        margin-top: 30px;
        margin-bottom:30px;
    }
    #refreshed-container { 
        position: fixed; bottom: 0; width: 100%;
        margin-left:5px;
        margin-bottom:5px;
     }
    @@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .subheader th { font-weight:10px; font-weight: normal;}
    .header th { font-size:16px; font-weight: bold;background-color:#0078d7; color:white;}

    </style>
    <nav class="navbar  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">TFS Monitor &nbsp; :: &nbsp; Zenith Retail Middleware &nbsp; :: &nbsp; @Model.PageTitle</a>
        </div>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col">
                <h2>Release Status</h2>
            <table  id="main" class="table">
                <thead>
                <tr class="header">
                    <th >Name</th>
                    <th >Build</th>
                    <th colspan="2">Release</th>
                    <th colspan="2">Ping</th>
                </tr>
                <tr class="subheader">
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Int</th>
                    <th>QA</th>
                    <th>Int</th>
                    <th>QA</th>
                </tr>
            </thead>
            <tbody id="monitor-body">
                <tr>
                    <td colspan="7"></td>
                </tr>
            </tbody>
            </table>
            <div>
                <div class="loader"></div>
            </div>
            </div>
        </div>
        <div class="row">
            <h2>Pull Requests</h2>
                <table  id="pullRequests" class="table">
                    <thead>
                    <tr class="header">
                        <th>Repo</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>By</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody id="pullrequests-body">
                </tbody>
            </table>
        </div>
        <div id="refreshed-container">
            Last refreshed - <b><span id="refreshed"></span></b>
        </div>
    </div>
</div>
<script>
     function loadPullRequests() {

        var url = "@(Model.HostUrl)/home/pullrequests";
        $.get(url)
            .done(function(items) {
                var rows = "";
                    for(var i=0; i < items.length; i++) {
                        var item = items[i];
                        rows+= "<tr><td><h4>" + item.repositoryName + "</h4></td><td>" + item.name + "</td><td>" + item.createdDate + "</td><td>" + item.createdBy + "</td>";
                        rows += "<td style=\"text-align:right\; font-size:10px;\">";
                        rows += "ZenithDev " + getPullRequestIcon(item.zenithDevReview.status);
                        rows += "<br>"
                        rows += "ZenithDevCode " + getPullRequestIcon(item.zenithDevCodeReview.status);
                        rows += "</td>";
                        rows += "</tr>";
                    }  
                    display("#pullrequests-body", rows);
                });
      } 

       function load() {
           var url = "@(Model.HostUrl)/home/sources";
            $.get(url)
                .done(function(data) {

                    var rows = "";
                    for(var i=0; i < data.items.length; i++) {

                        var row = "<tr><td><h4>" + data.items[i].name + "</h4></td>";
                        var item = data.items[i];
                        var build = item.build[0];

                        row += build.result === "succeeded" ? validtd(build.number) : invalidtd(build.number);  
                        
                        if (item.releaseIntegration != null) {
                            row += getReleaseRow(item.releaseIntegration.status,item.releaseIntegration.name);
                        } else {
                            row += "<td>&nbsp;</td>";
                        }
                        if (item.releaseQa != null) {
                            row += getReleaseRow(item.releaseQa.status, item.releaseQa.name);
                        } else {
                            row += "<td>&nbsp;</td>";
                        }
                        row += item.integrationUp ? tick() : cross();
                        row += item.qaUp ? tick() : cross();
                        rows += row;
                    }
                    display("#monitor-body", rows);
                    $(".loader").hide();
                    setLastRefreshed();
                });
        } 

       $(document).ready(function() {
           $("#refreshed-container").hide();
           $("#monitor-body").hide();
           $("#pullrequests-body").hide();
           load();  
           loadPullRequests();
           setInterval(load, 30000);
           setInterval(loadPullRequests, 60000)
        }); 

        function display(id, data) {
            $(id).fadeOut();
            $(id).empty();
            $(id).append(data);
            $(id).fadeIn();
        }

        function getPullRequestIcon(status) {
            console.log("Reviwer Status: " + status);
            if (status === "Approved" || status === "Approved with suggestions") {
                return smallGreenTick();
            } else if (status == "Rejected") {
                return smallRedNoEntry();
            } else if (status == "No Response") {
                return smallRedCross();
            } else if (status === "Waiting for author") {
                return smallYellowCross();
            }
            return "n/a";

        }
        function getReleaseRow(status, name) {

            console.log(status) ;
            if( status === "succeeded") {
                return validtd(name);
            } else if (status === "rejected") {
                return invalidtd(name);
            } else if (status === "inProgress") {
                return refreshtd(name);
            } else {
                return "<td>&nbsp;</td>";
            }
        }
        function validtd(label) {
            var td1 = "<td class=\"monitor-cell\"><h4><span class=\"label label-success label-large\">";
            var td2 = " &nbsp; <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span> </span> </h4> </td>"

            return td1 + label + td2;
        }

        function invalidtd(label) {
            var td1 = "<td class=\"monitor-cell\"><h4><span class=\"label label-danger\"><span id=\"1\">";
            var td2 = " &nbsp; <span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span> </span> </h4> </td>"

            return td1 + label + td2;
        }

         function refreshtd(label) {
            var td1 = "<td class=\"monitor-cell\"><h4><span class=\"label label-warning\"><span id=\"1\">";
            var td2 = " &nbsp; <span class=\"glyphicon glyphicon-refresh\" aria-hidden=\"true\"></span> </span> </h4> </td>"

            return td1 + label + td2;
        }

        function tick() {
            return "<td class=\"monitor-cell\"> <h4> <span class=\"label label-success label-large\"> &nbsp; <span class=\"glyphicon glyphicon-ok\" aria-hidden=\"true\"></span> &nbsp; </span> </h4> </td>";
        }

        function cross() {
            return "<td class=\"monitor-cell\"> <h4> <span class=\"label label-danger label-large\"> &nbsp; <span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span> &nbsp; </span> </h4> </td>";
        }
    
        function smallYellowCross() {
            return "<span class=\"glyphicon glyphicon-remove\" style=\"color: orange;\" aria-hidden=\"true\"></span>";
        }
        function smallRedNoEntry() {
            return "<span class=\"glyphicon glyphicon-minus-sign\" style=\"color: red;\" aria-hidden=\"true\"></span>";
        }

        function smallRedCross() {
            return "<span class=\"glyphicon glyphicon-ok\" style=\"color: green;\" aria-hidden=\"true\"></span>";
        }

        function smallGreenTick() {
            return "<span class=\"glyphicon glyphicon-remove\" style=\"color: red;\" aria-hidden=\"true\"></span>";
        }

        var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]; 
        function setLastRefreshed() {
           $("#refreshed-container").show();
            var now = new Date();
            $("#refreshed").html(days[now.getDay()] + " " + pad(now.getHours()) + ":" + pad(now.getMinutes()) + ":" +  pad(now.getSeconds()));
        }

        function pad(number) {
             return number < 10 ? "0" + number : number;
        }
   </script>