@{
    ViewData["Title"] = "Home Page";
}

<h1>Api Pinger</h1>

<div id="content"></div>
  <script>
       function load() {
           $("#content").fadeOut();
            $.get("http://localhost:5000/home/sources")
                .done(function(data) {
                    $("#content").empty();
                    console.log("Running monitor load...");
                    var content = "<table border=\"1\" class=\"table\"><tr><td>&nbsp;</td><td>Integration</td><td>QA</td></tr>";
                    for(i=0; i < data.items.length; i++) {
                        var item = data.items[i];

                        var integrationUpSpan = item.integrationUp ? "<span>yes</span>" : "<span>no</span>";
                        var qaUpSpan = item.qaUp ? "<span>yes</span>" : "<span>no</span>";
                        
                        content += "<tr><td><h2>" + item.name + "</h2></td>"
                        content += "<td>" + integrationUpSpan + "</td>";
                        content += "<td>"+ qaUpSpan + "</td>";
                    }
                    content += "</table>";
                    $("#content").append(content);
                    $("#content").fadeIn();
                    console.log("Monitor load complete!");
                });
        } 

       $(document).ready(function() {
           load();

           setInterval(load, 10000);
        }); 
   </script>