<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="1200">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TFS Monitor :: @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body style="background-color:#000">
  
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
     <script src="~/js/site.min.js" asp-append-version="true"></script>
     <script src="~/js/snow.js" asp-append-version="true"></script>

        @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
